<div class="text {{ modifier_class }}">
   <div class="inner-wrapper">
         
      <h2 class="title">{{ title }}</h2>
      
      <div class="field field--name-field-statement-dek field--type-string-long field__item">
         <h3 class="dek">{{ dek }}</h3>
         
         <div class="field field--name-field-statement-cta field--type-link field__item">
            <a href="{{ url }}"> {{ cta }}</a>
         </div>
      </div>

   </div>
</div>



